<a href="https://colab.research.google.com/github/vinay5751/interview_attendance_problem/blob/master/Interview_attendance_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
interview_raw = pd.read_csv("Interview.csv")

In [0]:
interview_raw.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

In [0]:
interview_raw.tail()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
1229,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1230,Male,Chennai,...,Yes,Yes,Yes,Yes,Single,NaN,NaN,NaN,NaN,NaN
1230,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1231,Male,Chennai,...,Yes,Yes,Yes,Yes,Married,NaN,NaN,NaN,NaN,NaN
1231,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs â€“ RA,Scheduled,Candidate 1232,Male,Chennai,...,Yes,Yes,Yes,Yes,Single,NaN,NaN,NaN,NaN,NaN
1232,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs â€“ RA,Scheduled,Candidate 1233,Female,Chennai,...,NaN,NaN,Uncertain,Yes,Single,NaN,NaN,NaN,NaN,NaN
1233,NaN,ï»¿ï»¿,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
interview_raw.columns

Index(['Date of Interview', 'Client name', 'Industry', 'Location',
       'Position to be closed', 'Nature of Skillset', 'Interview Type',
       'Name(Cand ID)', 'Gender', 'Candidate Current Location',
       'Candidate Job Location', 'Interview Venue',
       'Candidate Native location',
       'Have you obtained the necessary permission to start at the required time',
       'Hope there will be no unscheduled meetings',
       'Can I Call you three hours before the interview and follow up on your attendance for the interview',
       'Can I have an alternative number/ desk number. I assure you that I will not trouble you too much',
       'Have you taken a printout of your updated resume. Have you read the JD and understood the same',
       'Are you clear with the venue details and the landmark.',
       'Has the call letter been shared', 'Expected Attendance',
       'Observed Attendance', 'Marital Status', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [0]:
interview_raw.index

RangeIndex(start=0, stop=1234, step=1)

In [0]:
interview_raw.shape

(1234, 28)

In [0]:
interview_raw.drop(columns=['Unnamed: 23',
                            'Unnamed: 24',
                            'Unnamed: 25', 
                            'Unnamed: 26', 
                            'Unnamed: 27'],
                             axis=1,
                             inplace=True)

In [0]:
interview_raw.drop(interview_raw.index[1233],
                   inplace=True)

In [0]:
interview_df = interview_raw

In [0]:
interview_df.isnull().sum()

Date of Interview                                                                                       0
Client name                                                                                             0
Industry                                                                                                0
Location                                                                                                0
Position to be closed                                                                                   0
Nature of Skillset                                                                                      0
Interview Type                                                                                          0
Name(Cand ID)                                                                                           0
Gender                                                                                                  0
Candidate Current Location                                                                              0
Candidate Job Location                                                                                  0
Interview Venue                                                                                         0
Candidate Native location                                                                               0
Have you obtained the necessary permission to start at the required time                              204
Hope there will be no unscheduled meetings                                                            247
Can I Call you three hours before the interview and follow up on your attendance for the interview    247
Can I have an alternative number/ desk number. I assure you that I will not trouble you too much      247
Have you taken a printout of your updated resume. Have you read the JD and understood the same        248
Are you clear with the venue details and the landmark.                                                248
Has the call letter been shared                                                                       245
Expected Attendance                                                                                     5
Observed Attendance                                                                                     0
Marital Status                                                                                          0
dtype: int64

# Renaming cloumns

In [0]:
interview_df.columns = ['Date', 'Client', 'Industry', 'Location', 
                        'Position', 'Skillset','Interview_Type', 
                        'ID', 'Gender', 'Cand_Loc', 'Job_Loc', 'Venue',
                        'Native_Loc', 'Permission', 'Hope', 'Three_hour_call', 
                        'Alt_phone','Resume_Printout', 'Clarify_Venue', 'Shared_Letter',
                        'Expected','Attended', 'Martial_Status']

In [0]:
interview_df

,Date,Client,Industry,Location,Position,Skillset,Interview_Type,ID,Gender,Cand_Loc,...,Permission,Hope,Three_hour_call,Alt_phone,Resume_Printout,Clarify_Venue,Shared_Letter,Expected,Attended,Martial_Status
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,Na,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,No,Yes,No,Yes,Yes,Uncertain,No,Single
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Yes,No,Yes,Yes,Yes,Uncertain,No,Married
5,13.02.2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Routine,Scheduled Walkin,Candidate 6,Male,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
6,13.02.2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Routine,Scheduled Walkin,Candidate 7,Male,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
7,13.02.2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Routine,Scheduled Walkin,Candidate 8,Female,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
8,13.02.2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Routine,Scheduled Walkin,Candidate 9,Male,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
9,13.02.2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Routine,Scheduled Walkin,Candidate 10,Female,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
10,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 11,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
11,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 12,Female,Bangalore,...,No,Yes,No,No,Yes,Yes,Yes,Uncertain,No,Single
12,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 13,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
13,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 14,Male,Bangalore,...,No,Yes,Yes,Yes,Yes,Yes,Havent Checked,Uncertain,Yes,Single
14,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 15,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
15,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 16,Female,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
16,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 17,Female,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
17,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 18,Female,Bangalore,...,No,Yes,Yes,No,Yes,Yes,Yes,No,No,Single
18,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 19,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
19,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 20,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
20,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 21,Male,Bangalore,...,Not yet,Yes,Yes,Yes,Yes,Yes,No,No,No,Single
21,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 22,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
22,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 23,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
23,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 24,Male,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
24,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 25,Male,Bangalore,...,Yes,Yes,Yes,No,No,Yes,Yes,Uncertain,No,Single
25,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 26,Male,Bangalore,...,No,No,Yes,Yes,Yes,Yes,No,No,No,Single
26,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 27,Male,Bangalore,...,No,Yes,Yes,Yes,Yes,Yes,No,No,No,Married
27,19.06.2015,UST,IT Services,Bangalore,Dot Net,Routine,Scheduled Walkin,Candidate 28,Male,Bangalore,...,No,Yes,Yes,Yes,No,Yes,No,No,No,Single
28,23.06.2015,Standard Chartered Bank,BFSI,Chennai,AML,Routine,Scheduled Walkin,Candidate 29,Female,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
29,23.06.2015,Standard Chartered Bank,BFSI,Chennai,AML,Routine,Scheduled Walkin,Candidate 30,Female,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,30.1.16,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1204,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,yes,Single
1204,30.1.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1205,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,yes,Single
1205,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1206,Female,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1206,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1207,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1207,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1208,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Married
1208,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1209,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,yes,Married
1209,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1210,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,yes,Single
1210,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1211,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,yes,Married
1211,30.01.16,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1212,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,yes,Single
1212,30.01.16,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1213,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,no,Single
1213,30.01.16,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1214,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,no,Married
1214,30-1-2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1215,Female,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1215,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1216,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1216,30.01.2016,Standard Chartered Bank,BFSI,Chennai,Routine,Java,Scheduled Walk In,Candidate 1217,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,no,Single
1217,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1218,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1218,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,RA Publishing,Scheduled,Candidate 1219,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1219,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,RA Publishing,Scheduled,Candidate 1220,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1220,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,RA Publishing,Scheduled,Candidate 1221,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1221,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,EMEA,Scheduled,Candidate 1222,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1222,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,EMEA,Scheduled,Candidate 1223,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1223,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,EMEA,Scheduled,Candidate 1224,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1224,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1225,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1225,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,LCM -Manager,Scheduled,Candidate 1226,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1226,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Licensing â€“ RA,Scheduled,Candidate 1227,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1227,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Licensing â€“ RA,Scheduled,Candidate 1228,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1228,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs â€“ RA,Scheduled,Candidate 1229,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1229,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1230,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1230,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1231,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1231,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs â€“ RA,Scheduled,Candidate 1232,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1232,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs â€“ RA,Scheduled,Candidate 1233,Female,Chennai,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncertain,Yes,Single

In [0]:
for i in interview_df.columns:
    print(i)
    print(interview_df[i].unique())

Date
['13.02.2015' '19.06.2015' '23.06.2015' '29.06.2015' '25.06.2015'
 '25.05.16' '25.5.2016' '25-05-2016' '25.05.2016' '25-5-2016' '04/12/16'
 '13.04.2016' '27.02.2016' '07.05.2016' '5.5.16' '4.5.16' '21.4.16'
 '22.4.16' '23.4.16' '15 Apr 16' '19 Apr 16' '20 Apr 16' '21-Apr -16'
 '22 -Apr -16' '25 â€“ Apr-16' '25 Apr 16' '18 Apr 16' '11.5.16' '10.5.16'
 '11.05.16' '12.04.2016' '12.04.2017' '12.04.2018' '12.04.2019'
 '12.04.2020' '12.04.2021' '12.04.2022' '12.04.2023' '8.5.16' '7.5.16'
 '19.03.16' '24.05.2016' '05/11/2016' '26/05/2016' '10.05.2016'
 '28.08.2016 & 09.00 AM' '28.08.2016 & 9.30 AM' '28.8.2016 & 12.00 PM'
 '28.08.2016 & 09.30 AM' '28.8.2016 & 10.30 AM' '28.8.2016 & 09.30 AM'
 '28.8.2016 & 04.00 PM' '28.08.2016 & 11.30 AM' '28.08.2016 & 11.00 AM'
 '28.08.2016 & 10.30 AM' '28.8.2016 & 03.00 PM' '28.08.2016 & 10.00 AM'
 '28.8.2016 & 02.00 PM' '28.8.2016 & 11.00 AM' '13.06.2016' '02.09.2016'
 '02.12.2015' '23.02.2016' '22.03.2016' '26.02.2016' '06.02.2016'
 '21.4.2016' '21/04/16' '21.4.15' '22.01.2016' '3.6.16' '03/06/16'
 '09.01.2016' '09-01-2016' '03.04.2015' '13/03/2015' '17/03/2015'
 '17.03.2015' '18.03.2014' '4.04.15' '16.04.2015' '17.04.2015' '9.04.2015'
 '05/02/15' '30.05.2016' '07.06.2016' '20.08.2016' '14.01.2016' '30.1.16 '
 '30.01.2016' '30/01/16' '30.1.16' '30.1.2016' '30.01.16' '30-1-2016'
 '06.05.2016']
Client
['Hospira' 'Aon Hewitt' 'UST' 'Standard Chartered Bank' 'ANZ' 'Pfizer'
 'Standard Chartered Bank Chennai' 'Aon hewitt Gurgaon' 'Astrazeneca'
 'Flextronics' 'Prodapt' 'Williams Lea' 'Barclays' 'Hewitt' 'Woori Bank']
Industry
['Pharmaceuticals' 'IT Services' 'BFSI' 'IT Products and Services'
 'Electronics' 'Telecom' 'IT']
Location
['Chennai' 'Gurgaon' 'Bangalore' 'Hyderabad' 'Gurgaonr' 'Delhi' 'chennai'
 '- Cochin- ' 'Noida' 'CHENNAI' 'chennai ']
Position
['Production- Sterile' 'Selenium testing' 'Dot Net' 'AML' 'Trade Finance'
 'Routine' 'Niche']
Skillset
['Routine' 'Oracle' 'Accounting Operations' 'Banking Operations' 'Fresher'
 'AML/KYC/CDD' 'CDD KYC' 'Biosimiliars' 'RA Label' 'RA Publishing' 'EMEA'
 'LCM -Manager' 'Licensing â€“ RA' 'generic drugs â€“ RA' 'Biosimilars'
 'Regulatory' 'Analytical R & D' 'Analytical R&D'
 'Senior software engineer-Mednet' 'Tech lead-Mednet' 'Tech Lead- Mednet'
 'Technical Lead' 'Sr Automation Testing' 'TL' 'Senior Analyst'
 'production' 'Production' 'Core Java' 'Java J2EE' 'Oracle Plsql'
 'Java,SQL' 'Automation Testing Java' 'Submission Management'
 'Biosimillar' 'Publishing' 'Global Labelling' 'ALS Testing'
 'Java Developer' 'Lending and Liabilities' 'Lending & Liability'
 'Lending And Liabilities' 'L & L' 'Banking operations'
 'Lending&Liablities' 'JAVA/J2EE/Struts/Hibernate'
 'JAVA/SPRING/HIBERNATE/JSF' 'Java' 'Java JSF' 'Java,J2ee, JSF'
 'Java ,J2ee' 'Java J2ee' '11.30 AM' '10.00 AM' '9.00 Am' '12.30 Pm'
 '9.30 AM' '11.30 Am' 'Java, J2Ee' 'Java,J2EE' 'Java/J2ee/Core Java'
 'Java/J2ee' 'JAVA, J2ee' 'JAVA,J2ee' 'T-24 developer' 'COTS Developer'
 'Product Control' 'Dot Net' 'COTS' 'testing' '- SAPBO, Informatica' 'ETL'
 'Java-SAS' 'Java Tech Lead' 'Manager' 'JAVA,SQL' 'Java, SQL' 'Hadoop'
 'SCCM' 'SCCM-(Network, sharepoint,ms exchange)' 'SCCm- Desktop support'
 'Sccm- networking' 'sccm' 'SCCM â€“ SQL' 'SCCM â€“ Sharepoint'
 'Production Support - SCCM' 'SAS' 'BaseSAS Program/ Reporting'
 'Java, Spring, Hibernate' 'Java,spring,hibernate'
 'Java, XML, Struts, hibernate' 'JAVA/J2EE' 'Java ']
Interview_Type
['Scheduled Walkin' 'Scheduled ' 'Walkin' 'Scheduled Walk In'
 'Sceduled walkin' 'Walkin ']
ID
['Candidate 1' 'Candidate 2' 'Candidate 3' ... 'Candidate 1231'
 'Candidate 1232' 'Candidate 1233']
Gender
['Male' 'Female']
Cand_Loc
['Chennai' 'Gurgaon' 'Bangalore' 'Hyderabad' 'Delhi' 'chennai'
 '- Cochin- ' 'Noida' 'CHENNAI' 'chennai ']
Job_Loc
['Hosur' 'Bangalore' 'Chennai' 'Gurgaon' 'Visakapatinam' '- Cochin- '
 'Noida']
Venue
['Hosur' 'Gurgaon' 'Bangalore' 'Chennai' 'Hyderabad' '- Cochin- ' 'Noida']
Native_Loc
['Hosur' 'Trichy' 'Chennai' 'Gurgaon' 'Noida' 'Delhi /NCR' 'Cochin'
 'Trivandrum' 'Bangalore' 'Coimbatore' 'Salem' 'Tanjore' 'Hyderabad'
 'Mumbai' 'Pune' 'Kolkata' 'Allahabad' 'Panjim' 'Cuttack' 'Visakapatinam'
 'Belgaum' 'Patna' 'Chitoor' 'Anantapur' 'Warangal' 'Ahmedabad' 'Kurnool'
 'Vijayawada' 'Vellore' 'Pondicherry' 'Nagercoil' 'Agra' 'Bhubaneshwar'
 'Ghaziabad' 'Baddi' 'Tuticorin' 'Tirupati' 'Faizabad' 'Ambur'
 'Chandigarh' 'Mysore' 'Hissar' 'Delhi' 'Kanpur' 'Lucknow' '- Cochin- ']
Permission
['Yes' nan 'No' 'Not yet' 'Yet to confirm' 'NO' 'yes' 'Na']
Hope
['Yes' 'Na' 'No' nan 'yes' 'Not Sure' 'cant Say' 'Not sure']
Three_hour_call
['Yes' nan 'No' 'No Dont' 'Na' 'yes']
Alt_phone
['Yes' nan 'No' 'No I have only thi number' 'na' 'yes' 'Na']
Resume_Printout
['Yes' nan 'No' 'No- will take it soon' 'Not yet' 'na' 'yes' 'Na'
 'Not Yet']
Clarify_Venue
['Yes' nan 'No' 'No- I need to check' 'na' 'yes' 'Na' 'no']
Shared_Letter
['Yes' nan 'Havent Checked' 'No' 'Need To Check' 'Not sure' 'Yet to Check'
 'Not Sure' 'Not yet' 'no' 'na' 'yes' 'Na']
Expected
['Yes' 'Uncertain' 'No' 'NO' 'yes' nan '11:00 AM' '10.30 Am']
Attended
['No' 'Yes' 'yes' 'no' 'yes ' 'No ' 'NO' 'no ']
Martial_Status
['Single' 'Married']

In [0]:
interview_df['Skillset'].replace(['AML/KYC/CDD', 'CDD KYC','Accounting Operations', 'Banking Operations',
'Banking operations','Lending and Liabilities','Lending & Liability', 'Lending And Liabilities', 'L & L',
'Lending&Liablities'], 'Banking',inplace=True)
interview_df['Skillset'].replace(['Core Java','Java J2EE','Java,SQL','Java Developer','JAVA/J2EE/Struts/Hibernate',
'JAVA/SPRING/HIBERNATE/JSF', 'Java', 'Java JSF', 'Java,J2ee, JSF','Java ,J2ee', 'Java J2ee','Java, J2Ee', 'Java,J2EE',
'Java/J2ee/Core Java', 'Java/J2ee', 'JAVA, J2ee', 'JAVA,J2ee','Java Tech Lead','JAVA,SQL', 'Java, SQL','Java, Spring, Hibernate',
'Java,spring,hibernate', 'Java, XML, Struts, hibernate','JAVA/J2EE', 'Java ' ],'Core and advance JAVA',inplace=True)
interview_df['Skillset'].replace(['Oracle Plsql'],'Oracle',inplace=True)
interview_df['Skillset'].replace(['Sr Automation Testing','Automation Testing Java','ALS Testing','testing'],
'Testing',inplace=True)
interview_df['Skillset'].replace(['EMEA','11.30 AM', '10.00 AM', '9.00 Am','12.30 Pm', '9.30 AM', '11.30 Am','Regulatory',
'Routine','Global Labelling'],'Other',inplace=True)
interview_df['Skillset'].replace(['Biosimiliars','Biosimillar','Licensing â€“ RA','generic drugs â€“ RA', 'Biosimilars', 'Analytical R & D',
'Analytical R&D','Senior Analyst','RA Label', 'RA Publishing','LCM -Manager', 'Licensing â€“ RA','generic drugs â€“ RA'],'Pharmaceuticals',inplace=True)
interview_df['Skillset'].replace(['Senior software engineer-Mednet','T-24 developer','COTS Developer',
'Product Control', 'Dot Net', 'COTS','- SAPBO, Informatica', 'ETL'],'Software Developer',inplace=True)
interview_df['Skillset'].replace(['SCCM','SCCM-(Network, sharepoint,ms exchange)', 'SCCm- Desktop support',
'Sccm- networking', 'sccm', 'SCCM â€“ SQL', 'SCCM â€“ Sharepoint','Production Support - SCCM'],'Network',inplace=True)
interview_df['Skillset'].replace(['Java-SAS','BaseSAS Program/ Reporting'],'SAS',inplace=True)
interview_df['Skillset'].replace(['Tech lead-Mednet', 'Tech Lead- Mednet','TL'],'Technical Lead',inplace=True)
interview_df['Skillset'].replace(['production'],'Production',inplace=True)
interview_df['Skillset'].unique()

array(['Other', 'Oracle', 'Banking', 'Fresher', 'Pharmaceuticals',
       'Software Developer', 'Technical Lead', 'Testing', 'Production',
       'Core and advance JAVA', 'Submission Management', 'Publishing',
       'SAS', 'Manager', 'Hadoop', 'Network'], dtype=object)

In [0]:
def clean_date(date):
    date = date.str.strip()
    date = date.str.split("&").str[0]
    date = date.str.replace('â€“', '/')
    date = date.str.replace('.', '/')
    date = date.str.replace('Apr', '04')
    date = date.str.replace('-', '/')
    date = date.str.replace(' ', '/')
    date = date.str.replace('//+', '/')
    return date

In [0]:
interview_df["Date"] = clean_date(interview_df["Date"])

In [0]:
interview_df["Date"].unique()

array(['13/02/2015', '19/06/2015', '23/06/2015', '29/06/2015',
       '25/06/2015', '25/05/16', '25/5/2016', '25/05/2016', '04/12/16',
       '13/04/2016', '27/02/2016', '07/05/2016', '5/5/16', '4/5/16',
       '21/4/16', '22/4/16', '23/4/16', '15/04/16', '19/04/16',
       '20/04/16', '21/04/16', '22/04/16', '25/04/16', '18/04/16',
       '11/5/16', '10/5/16', '11/05/16', '12/04/2016', '12/04/2017',
       '12/04/2018', '12/04/2019', '12/04/2020', '12/04/2021',
       '12/04/2022', '12/04/2023', '8/5/16', '7/5/16', '19/03/16',
       '24/05/2016', '05/11/2016', '26/05/2016', '10/05/2016',
       '28/08/2016/', '28/8/2016/', '13/06/2016', '02/09/2016',
       '02/12/2015', '23/02/2016', '22/03/2016', '26/02/2016',
       '06/02/2016', '21/4/2016', '21/4/15', '22/01/2016', '3/6/16',
       '03/06/16', '09/01/2016', '03/04/2015', '13/03/2015', '17/03/2015',
       '18/03/2014', '4/04/15', '16/04/2015', '17/04/2015', '9/04/2015',
       '05/02/15', '30/05/2016', '07/06/2016', '20/08/2016', '14/01/2016',
       '30/1/16', '30/01/2016', '30/01/16', '30/1/2016', '06/05/2016'],
      dtype=object)

In [0]:
interview_df['year'] = interview_df['Date'].str.split("/").str[2]
interview_df['day'] = interview_df['Date'].str.split("/").str[0]
interview_df['month'] = interview_df['Date'].str.split("/").str[1]

In [0]:
interview_df["year"].unique()

array(['2015', '16', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '15', '2014'], dtype=object)

In [0]:
interview_df["year"].replace(["16","15"],["2016","2015"],inplace=True)

In [0]:
interview_df["day"].unique()

array(['13', '19', '23', '29', '25', '04', '27', '07', '5', '4', '21',
       '22', '15', '20', '18', '11', '10', '12', '8', '7', '24', '05',
       '26', '28', '02', '06', '3', '03', '09', '17', '16', '9', '30',
       '14'], dtype=object)

In [0]:
interview_df["month"].unique()

array(['02', '06', '05', '5', '12', '04', '4', '03', '11', '08', '8',
       '09', '01', '6', '1'], dtype=object)

In [0]:
date = {"year":interview_df["year"],
        "month":interview_df["month"],
        "day":interview_df["day"]}

In [0]:
interview_df["date"] = pd.to_datetime(pd.DataFrame(date),format='%Y-%m-%d')

In [0]:
interview_df.head(10)

,Date,Client,Industry,Location,Position,Skillset,Interview_Type,ID,Gender,Cand_Loc,...,Resume_Printout,Clarify_Venue,Shared_Letter,Expected,Attended,Martial_Status,year,day,month,date
0,13/02/2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,No,Single,2015,13,02,2015-02-13
1,13/02/2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,No,Single,2015,13,02,2015-02-13
2,13/02/2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,NaN,Uncertain,No,Single,2015,13,02,2015-02-13
3,13/02/2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 4,Male,Chennai,...,No,Yes,Yes,Uncertain,No,Single,2015,13,02,2015-02-13
4,13/02/2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Yes,Uncertain,No,Married,2015,13,02,2015-02-13
5,13/02/2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Other,Scheduled Walkin,Candidate 6,Male,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Single,2015,13,02,2015-02-13
6,13/02/2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Other,Scheduled Walkin,Candidate 7,Male,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Single,2015,13,02,2015-02-13
7,13/02/2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Other,Scheduled Walkin,Candidate 8,Female,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Single,2015,13,02,2015-02-13
8,13/02/2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Other,Scheduled Walkin,Candidate 9,Male,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Single,2015,13,02,2015-02-13
9,13/02/2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Other,Scheduled Walkin,Candidate 10,Female,Gurgaon,...,Yes,Yes,Yes,Yes,No,Single,2015,13,02,2015-02-13

In [0]:
interview_df.drop(columns=["Date","year","month","day"],inplace=True)

In [0]:
interview_df.head()

,Client,Industry,Location,Position,Skillset,Interview_Type,ID,Gender,Cand_Loc,Job_Loc,...,Hope,Three_hour_call,Alt_phone,Resume_Printout,Clarify_Venue,Shared_Letter,Expected,Attended,Martial_Status,date
0,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 1,Male,Chennai,Hosur,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,2015-02-13
1,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 2,Male,Chennai,Bangalore,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,2015-02-13
2,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 3,Male,Chennai,Chennai,...,Na,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single,2015-02-13
3,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 4,Male,Chennai,Chennai,...,Yes,No,Yes,No,Yes,Yes,Uncertain,No,Single,2015-02-13
4,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Other,Scheduled Walkin,Candidate 5,Male,Chennai,Bangalore,...,Yes,Yes,No,Yes,Yes,Yes,Uncertain,No,Married,2015-02-13

In [0]:
interview_df["Client"].unique()

array(['Hospira', 'Aon Hewitt', 'UST', 'Standard Chartered Bank', 'ANZ',
       'Pfizer', 'Standard Chartered Bank Chennai', 'Aon hewitt Gurgaon',
       'Astrazeneca', 'Flextronics', 'Prodapt', 'Williams Lea',
       'Barclays', 'Hewitt', 'Woori Bank'], dtype=object)

In [0]:
interview_df['Client'].replace(['Standard Chartered Bank Chennai', 'Aon hewitt Gurgaon', 'Hewitt'], 
                               ['Standard Chartered Bank', 'Aon Hewitt', 'Aon Hewitt'], inplace = True)

In [0]:
interview_df["Client"].unique()

array(['Hospira', 'Aon Hewitt', 'UST', 'Standard Chartered Bank', 'ANZ',
       'Pfizer', 'Astrazeneca', 'Flextronics', 'Prodapt', 'Williams Lea',
       'Barclays', 'Woori Bank'], dtype=object)

In [0]:
interview_df["Industry"].unique()

array(['Pharmaceuticals', 'IT Services', 'BFSI',
       'IT Products and Services', 'Electronics', 'Telecom', 'IT'],
      dtype=object)

In [0]:
interview_df["Industry"].replace(['IT Products and Services', 'IT Services'], 
                                 ['IT', 'IT'], inplace = True)

In [0]:
interview_df["Industry"].unique()

array(['Pharmaceuticals', 'IT', 'BFSI', 'Electronics', 'Telecom'],
      dtype=object)

In [0]:
interview_df["Location"].unique()

array(['Chennai', 'Gurgaon', 'Bangalore', 'Hyderabad', 'Gurgaonr',
       'Delhi', 'chennai', '- Cochin- ', 'Noida', 'CHENNAI', 'chennai '],
      dtype=object)

In [0]:
interview_df['Location'].replace(['- Cochin- ','Gurgaonr', 'CHENNAI', 'chennai ','chennai'], 
                                 ['Cochin','Gurgaon','Chennai','Chennai','Chennai'], inplace = True)

In [0]:
interview_df["Location"].unique()

array(['Chennai', 'Gurgaon', 'Bangalore', 'Hyderabad', 'Delhi', 'Cochin',
       'Noida'], dtype=object)

In [0]:
interview_df['Interview_Type'].unique()

array(['Scheduled Walkin', 'Scheduled ', 'Walkin', 'Scheduled Walk In',
       'Sceduled walkin', 'Walkin '], dtype=object)

In [0]:
interview_df['Interview_Type'].replace(['Scheduled Walk In', 'Sceduled walkin','Walkin '],
                                       ['Scheduled Walkin', 'Scheduled Walkin','Walkin'], inplace = True)

In [0]:
interview_df['Interview_Type'].unique()

array(['Scheduled Walkin', 'Scheduled ', 'Walkin'], dtype=object)

In [0]:
interview_df["Cand_Loc"].unique()

array(['Chennai', 'Gurgaon', 'Bangalore', 'Hyderabad', 'Delhi', 'chennai',
       '- Cochin- ', 'Noida', 'CHENNAI', 'chennai '], dtype=object)

In [0]:
interview_df['Cand_Loc'].replace(['- Cochin- ','Gurgaonr', 'CHENNAI', 'chennai ','chennai'], 
                                 ['Cochin','Gurgaon','Chennai','Chennai','Chennai'], inplace = True)

In [0]:
interview_df["Cand_Loc"].unique()

array(['Chennai', 'Gurgaon', 'Bangalore', 'Hyderabad', 'Delhi', 'Cochin',
       'Noida'], dtype=object)

In [0]:
interview_df["Job_Loc"].unique()

array(['Hosur', 'Bangalore', 'Chennai', 'Gurgaon', 'Visakapatinam',
       '- Cochin- ', 'Noida'], dtype=object)

In [0]:
interview_df['Job_Loc'].replace(['- Cochin- '], 
                              ['Cochin'], inplace = True)

In [0]:
interview_df["Job_Loc"].unique()

array(['Hosur', 'Bangalore', 'Chennai', 'Gurgaon', 'Visakapatinam',
       'Cochin', 'Noida'], dtype=object)

In [0]:
interview_df['Venue'].unique()

array(['Hosur', 'Gurgaon', 'Bangalore', 'Chennai', 'Hyderabad',
       '- Cochin- ', 'Noida'], dtype=object)

In [0]:
interview_df['Venue'].replace(['- Cochin- '], 
                              ['Cochin'], inplace = True)

In [0]:
interview_df['Venue'].unique()

array(['Hosur', 'Gurgaon', 'Bangalore', 'Chennai', 'Hyderabad', 'Cochin',
       'Noida'], dtype=object)

In [0]:
interview_df['Permission'].unique()

array(['Yes', nan, 'No', 'Not yet', 'Yet to confirm', 'NO', 'yes', 'Na'],
      dtype=object)

In [0]:
interview_df['Permission'].replace(['Na', 'Not yet', 'Yet to confirm','yes','NO','nan'], 
                              [np.nan, 'tbd', 'tbd','Yes','No',np.nan], inplace = True)

In [0]:
interview_df['Permission'].unique()

array(['Yes', nan, 'No', 'tbd'], dtype=object)

In [0]:
interview_df["Hope"].unique()

array(['Yes', 'Na', 'No', nan, 'yes', 'Not Sure', 'cant Say', 'Not sure'],
      dtype=object)

In [0]:
interview_df['Hope'].replace(['Na', 'Not Sure', 'Not sure','cant Say',np.nan,'yes'], 
                              [np.nan, 'Unsure', 'Unsure','Unsure',np.nan,'Yes'], inplace = True)

In [0]:
interview_df["Hope"].unique()

array(['Yes', nan, 'No', 'Unsure'], dtype=object)

In [0]:
interview_df["Three_hour_call"].unique()

array(['Yes', nan, 'No', 'No Dont', 'Na', 'yes'], dtype=object)

In [0]:
interview_df['Three_hour_call'].replace(['Na', 'No Dont','yes'], 
                              [np.nan, 'No','Yes'], inplace = True)

In [0]:
interview_df["Three_hour_call"].unique()

array(['Yes', nan, 'No'], dtype=object)

In [0]:
interview_df["Alt_phone"].unique()

array(['Yes', nan, 'No', 'No I have only thi number', 'na', 'yes', 'Na'],
      dtype=object)

In [0]:
interview_df['Alt_phone'].replace(['na', 'No I have only thi number','yes','Na'], 
                              [np.nan, 'No','Yes',np.nan], inplace = True)

In [0]:
interview_df["Alt_phone"].unique()

array(['Yes', nan, 'No'], dtype=object)

In [0]:
interview_df['Resume_Printout'].unique()

array(['Yes', nan, 'No', 'No- will take it soon', 'Not yet', 'na', 'yes',
       'Na', 'Not Yet'], dtype=object)

In [0]:
interview_df['Resume_Printout'].replace(['na', 'not yet', 'No- will take it soon','Not yet','yes','Na'], 
                              [np.nan,'Not Yet', 'Not Yet','Not Yet','Yes',np.nan], inplace = True)

In [0]:
interview_df['Resume_Printout'].unique()

array(['Yes', nan, 'No', 'Not Yet'], dtype=object)

In [0]:
interview_df["Clarify_Venue"].unique()

array(['Yes', nan, 'No', 'No- I need to check', 'na', 'yes', 'Na', 'no'],
      dtype=object)

In [0]:
interview_df['Clarify_Venue'].replace(['yes','No- I need to check','Na', 'no','na'], 
                              ['Yes','No',np.nan,'No',np.nan], inplace = True)

In [0]:
interview_df["Clarify_Venue"].unique()

array(['Yes', nan, 'No'], dtype=object)

In [0]:
interview_df["Shared_Letter"].unique()

array(['Yes', nan, 'Havent Checked', 'No', 'Need To Check', 'Not sure',
       'Yet to Check', 'Not Sure', 'Not yet', 'no', 'na', 'yes', 'Na'],
      dtype=object)

In [0]:
interview_df['Shared_Letter'].replace(['na', 'not sure', 'Need To Check', 'Not yet', 'Yet to Check',
                                       'Havent Checked','yes','Na','nan','Not sure','no','Not Sure'],
                                      [np.nan, 'unsure', 'unsure', 'unsure', 'unsure', 'unsure',
                                       'Yes',np.nan,np.nan,"unsure",'No','unsure'], inplace = True)

In [0]:
interview_df["Shared_Letter"].unique()

array(['Yes', nan, 'unsure', 'No'], dtype=object)

In [0]:
interview_df["Expected"].unique()

array(['Yes', 'Uncertain', 'No', 'NO', 'yes', nan, '11:00 AM', '10.30 Am'],
      dtype=object)

In [0]:
interview_df['Expected'].replace(['NO', 'yes', '11:00 AM', '10.30 Am'], 
                              ['No','Yes','Yes','Yes'], inplace = True)

In [0]:
interview_df["Expected"].unique()

array(['Yes', 'Uncertain', 'No', nan], dtype=object)

In [0]:
interview_df["Attended"].unique()

array(['No', 'Yes', 'yes', 'no', 'yes ', 'No ', 'NO', 'no '], dtype=object)

In [0]:
interview_df['Attended'].replace(['No', 'Yes', 'yes', 'no', 'yes ', 'No ', 'NO', 'no '],
                                 [0,1,1,0,1,0,0,0], inplace = True)

In [0]:
interview_df["Attended"].unique()

array([0, 1], dtype=int64)

In [0]:
interview_df["Skillset"].unique()

array(['Other', 'Oracle', 'Banking', 'Fresher', 'Pharmaceuticals',
       'Software Developer', 'Technical Lead', 'Testing', 'Production',
       'Core and advance JAVA', 'Submission Management', 'Publishing',
       'SAS', 'Manager', 'Hadoop', 'Network'], dtype=object)

In [0]:
#interview_df.drop(columns=["Skillset"],axis=1,inplace=True)#Vrey Uncertain values

In [0]:
interview_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 0 to 1232
Data columns (total 23 columns):
Client             1233 non-null object
Industry           1233 non-null object
Location           1233 non-null object
Position           1233 non-null object
Skillset           1233 non-null object
Interview_Type     1233 non-null object
ID                 1233 non-null object
Gender             1233 non-null object
Cand_Loc           1233 non-null object
Job_Loc            1233 non-null object
Venue              1233 non-null object
Native_Loc         1233 non-null object
Permission         1024 non-null object
Hope               966 non-null object
Three_hour_call    966 non-null object
Alt_phone          966 non-null object
Resume_Printout    965 non-null object
Clarify_Venue      965 non-null object
Shared_Letter      968 non-null object
Expected           1228 non-null object
Attended           1233 non-null int64
Martial_Status     1233 non-null object
date               1233 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(21)
memory usage: 231.2+ KB

In [0]:
interview_df.isnull().sum()

Client               0
Industry             0
Location             0
Position             0
Skillset             0
Interview_Type       0
ID                   0
Gender               0
Cand_Loc             0
Job_Loc              0
Venue                0
Native_Loc           0
Permission         209
Hope               267
Three_hour_call    267
Alt_phone          267
Resume_Printout    268
Clarify_Venue      268
Shared_Letter      265
Expected             5
Attended             0
Martial_Status       0
date                 0
dtype: int64

# Treating missing values

In [0]:
interview_df["Three_hour_call"].unique()

interview_df["Three_hour_call"].value_counts()

interview_df["Three_hour_call"].replace([np.nan],[interview_df["Three_hour_call"].mode()],inplace=True)

interview_df["Three_hour_call"].unique()

array(['Yes', 'No'], dtype=object)

In [0]:
print(interview_df["Permission"].unique())

print(interview_df["Permission"].value_counts())

print(interview_df["Permission"].replace([np.nan],[interview_df["Permission"].mode()],inplace=True))

print(interview_df["Permission"].unique())

['Yes' nan 'No' 'tbd']
Yes    921
No      80
tbd     23
Name: Permission, dtype: int64
None
['Yes' 'No' 'tbd']

In [0]:
print(interview_df["Hope"].unique())

print(interview_df["Hope"].value_counts())

print(interview_df["Hope"].replace([np.nan],[interview_df["Hope"].mode()],inplace=True))

print(interview_df["Hope"].unique())

['Yes' nan 'No' 'Unsure']
Yes       954
No          6
Unsure      6
Name: Hope, dtype: int64
None
['Yes' 'No' 'Unsure']

In [0]:
print(interview_df["Alt_phone"].unique())

print(interview_df["Alt_phone"].value_counts())

print(interview_df["Alt_phone"].replace([np.nan],[interview_df["Alt_phone"].mode()],inplace=True))

print(interview_df["Alt_phone"].unique())

['Yes' nan 'No']
Yes    937
No      29
Name: Alt_phone, dtype: int64
None
['Yes' 'No']

In [0]:
print(interview_df["Resume_Printout"].unique())

print(interview_df["Resume_Printout"].value_counts())

print(interview_df["Resume_Printout"].replace([np.nan],[interview_df["Resume_Printout"].mode()],inplace=True))

print(interview_df["Resume_Printout"].unique())

['Yes' nan 'No' 'Not Yet']
Yes        942
No          16
Not Yet      7
Name: Resume_Printout, dtype: int64
None
['Yes' 'No' 'Not Yet']

In [0]:
print(interview_df["Clarify_Venue"].unique())

print(interview_df["Clarify_Venue"].value_counts())

print(interview_df["Clarify_Venue"].replace([np.nan],[interview_df["Clarify_Venue"].mode()],inplace=True))

print(interview_df["Clarify_Venue"].unique())

['Yes' nan 'No']
Yes    948
No      17
Name: Clarify_Venue, dtype: int64
None
['Yes' 'No']

In [0]:
print(interview_df["Shared_Letter"].unique())

print(interview_df["Shared_Letter"].value_counts())

print(interview_df["Shared_Letter"].replace([np.nan],[interview_df["Shared_Letter"].mode()],inplace=True))

print(interview_df["Shared_Letter"].unique())

['Yes' nan 'unsure' 'No']
Yes       934
No         18
unsure     16
Name: Shared_Letter, dtype: int64
None
['Yes' 'unsure' 'No']

In [0]:
print(interview_df["Expected"].unique())

print(interview_df["Expected"].value_counts())

print(interview_df["Expected"].replace([np.nan],[interview_df["Expected"].mode()],inplace=True))

print(interview_df["Expected"].unique())

['Yes' 'Uncertain' 'No' nan]
Yes          885
Uncertain    250
No            93
Name: Expected, dtype: int64
None
['Yes' 'Uncertain' 'No']

In [0]:
interview_df.isnull().sum()

Client             0
Industry           0
Location           0
Position           0
Skillset           0
Interview_Type     0
ID                 0
Gender             0
Cand_Loc           0
Job_Loc            0
Venue              0
Native_Loc         0
Permission         0
Hope               0
Three_hour_call    0
Alt_phone          0
Resume_Printout    0
Clarify_Venue      0
Shared_Letter      0
Expected           0
Attended           0
Martial_Status     0
date               0
dtype: int64

In [0]:
df = pd.get_dummies(interview_df,
               columns=['Skillset','Client', 'Industry', 'Location', 'Position', 'Interview_Type','Gender',
                        'Cand_Loc', 'Job_Loc', 'Venue', 'Native_Loc', 'Permission','Hope', 
                        'Three_hour_call', 'Alt_phone', 'Resume_Printout','Clarify_Venue', 
                        'Shared_Letter', 'Expected', 'Attended','Martial_Status'],
                prefix=['Skillset','Client', 'Industry', 'Location', 'Position', 'Interview_Type','Gender', 'Cand_Loc', 'Job_Loc', 'Venue', 'Native_Loc', 'Permission',
                        'Hope', 'Three_hour_call', 'Alt_phone', 'Resume_Printout',
                        'Clarify_Venue', 'Shared_Letter', 'Expected', 'Attended',
                        'Martial_Status'],             
               drop_first=True
              )

In [0]:
df.drop(columns=["ID","date"],axis=1)

,Skillset_Core and advance JAVA,Skillset_Fresher,Skillset_Hadoop,Skillset_Manager,Skillset_Network,Skillset_Oracle,Skillset_Other,Skillset_Pharmaceuticals,Skillset_Production,Skillset_Publishing,...,Alt_phone_Yes,Resume_Printout_Not Yet,Resume_Printout_Yes,Clarify_Venue_Yes,Shared_Letter_Yes,Shared_Letter_unsure,Expected_Uncertain,Expected_Yes,Attended_1,Martial_Status_Single
0,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,0,1
1,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,0,1
2,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,1,0,0,1
3,0,0,0,0,0,0,1,0,0,0,...,1,0,0,1,1,0,1,0,0,1
4,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,1,0,1,0,0,0
5,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
6,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
7,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
8,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
9,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,0,1
10,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
11,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,1,0,1,0,0,1
12,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
13,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,0,1,1,0,1,1
14,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
15,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
16,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
17,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,1,0,0,0,0,1
18,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
19,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,0,1
20,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,0,0,0,0,0,1
21,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
22,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
23,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
24,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,1,0,1,0,0,1
25,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,0,0,0,0,0,1
26,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,0,0,0,0,0,0
27,0,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1
28,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,0
29,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,1
1204,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,1
1205,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,1
1206,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,0
1207,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,0,0
1208,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,0
1209,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,1
1210,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,0
1211,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,1
1212,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,0,1
1213,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,0,0
1214,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,0
1215,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,1,1
1216,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,0,1
1217,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1218,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1219,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1220,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,1
1221,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,1
1222,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,0
1223,0,0,0,0,0,0,1,0,0,0,...,1,0,1,1,1,0,0,1,1,0
1224,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1225,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,1
1226,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1227,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1228,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1229,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,1
1230,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,0
1231,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,0,1,1,1
1232,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,1,0,1,0,1,1

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X = df.drop(columns=["Attended_1","ID","date"])
y = df["Attended_1"]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
DTC = DecisionTreeClassifier()

DTC.fit(X_train,y_train)

DTC.score(X_test,y_test)

pred = DTC.predict(X_test)

In [0]:
from sklearn.metrics import classification_report,confusion_matrix

In [0]:
print(confusion_matrix(y_test,pred))

print(classification_report(y_test,pred))

[[ 69  84]
 [ 52 202]]
             precision    recall  f1-score   support

          0       0.57      0.45      0.50       153
          1       0.71      0.80      0.75       254

avg / total       0.66      0.67      0.66       407

In [0]:
from sklearn.decomposition import PCA

In [0]:
pca = PCA(n_components=4)

In [0]:
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=4, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [0]:
pca_x = pca.transform(X)

In [0]:
X.shape

(1233, 122)

In [0]:
pca_x.shape

(1233, 4)

In [0]:
X = pd.DataFrame(pca_x)
X.head()

          0         1         2         3
0  0.730104  0.615993 -0.052012 -0.904595
1  0.727205  0.625152 -0.049160 -0.904136
2  0.124370  1.197331  0.945445 -0.154555
3  0.139817  1.226467  1.004867 -0.139163
4  0.425038  1.260633  1.003028 -0.087209

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [0]:
DTC = DecisionTreeClassifier()

DTC.fit(X_train,y_train)

print(DTC.score(X_test,y_test))

pred = DTC.predict(X_test)

0.6412776412776413

In [0]:
print(confusion_matrix(y_test,pred))

print(classification_report(y_test,pred))

[[ 66  87]
 [ 59 195]]
             precision    recall  f1-score   support

          0       0.53      0.43      0.47       153
          1       0.69      0.77      0.73       254

avg / total       0.63      0.64      0.63       407

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
LR = LogisticRegression()

In [0]:
LR.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [0]:
LR.score(X_test,y_test)

0.6707616707616708

In [0]:
print(confusion_matrix(y_test,pred))

print(classification_report(y_test,pred))

[[ 66  87]
 [ 59 195]]
             precision    recall  f1-score   support

          0       0.53      0.43      0.47       153
          1       0.69      0.77      0.73       254

avg / total       0.63      0.64      0.63       407

In [0]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

0.6142506142506142

In [0]:
pred = knn.predict(X_test)
print(confusion_matrix(y_test,pred))
print(classification_report(y_test,pred))

[[ 63  90]
 [ 67 187]]
             precision    recall  f1-score   support

          0       0.48      0.41      0.45       153
          1       0.68      0.74      0.70       254

avg / total       0.60      0.61      0.61       407

In [0]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)
predict_svc = model.predict(X_test)

In [0]:
print(classification_report(y_test,predict_svc))
print(confusion_matrix(y_test,predict_svc))

             precision    recall  f1-score   support

          0       0.64      0.51      0.57       153
          1       0.74      0.83      0.78       254

avg / total       0.70      0.71      0.70       407

[[ 78  75]
 [ 44 210]]

In [0]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=100)
rfc.fit(X_train,y_train)

C:\Users\GHOST\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [0]:
rfc_pred=rfc.predict(X_test)
print(classification_report(y_test,rfc_pred))
print(confusion_matrix(y_test,rfc_pred))

             precision    recall  f1-score   support

          0       0.58      0.39      0.47       153
          1       0.69      0.83      0.75       254

avg / total       0.65      0.66      0.65       407

[[ 60  93]
 [ 44 210]]

In [0]:
param_grid = {'C': [0.1,1, 10, 100, 1000], 'gamma': [1,0.1,0.01,0.001,0.0001], 'kernel': ['rbf']}
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=3)
grid.fit(X_train,y_train)

Fitting 3 folds for each of 25 candidates, totalling 75 fits
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.6485507246376812, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.6363636363636364, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.6436363636363637, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV]  C=0.1, gamma=0.1, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ......... C=0.1, gamma=0.1, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ......... C=0.1, gamma=0.1, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV]  C=0.1, gamma=0.01, kernel=rbf, score=0.6413043478260869, total=   0.0s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s

[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ........ C=0.1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ........ C=0.1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV]  C=0.1, gamma=0.001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ....... C=0.1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ....... C=0.1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV]  C=0.1, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=0.1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=0.1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV]  C=1, gamma=1, kernel=rbf, score=0.7101449275362319, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ............. C=1, gamma=1, kernel=rbf, score=0.68, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV]  C=1, gamma=1, kernel=rbf, score=0.6763636363636364, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.6739130434782609, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV]  C=1, gamma=0.01, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] .......... C=1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] .......... C=1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV]  C=1, gamma=0.001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ......... C=1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ......... C=1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV]  C=1, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ........ C=1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ........ C=1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.7101449275362319, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.6981818181818182, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.6509090909090909, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.6945454545454546, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV]  C=10, gamma=0.001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ........ C=10, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ........ C=10, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV]  C=10, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ....... C=10, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ....... C=10, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.6884057971014492, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.6254545454545455, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.6436363636363637, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.7246376811594203, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.6909090909090909, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.6763636363636364, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.6884057971014492, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.6654545454545454, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.6836363636363636, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV]  C=100, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=100, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=100, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.6847826086956522, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.6654545454545454, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.6254545454545455, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................

[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.7210144927536232, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.6909090909090909, total=   0.1s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.6618181818181819, total=   0.1s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.677536231884058, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.6763636363636364, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.6909090909090909, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.7137681159420289, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.6654545454545454, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.6872727272727273, total=   0.0s

[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed:    2.6s finished

GridSearchCV(cv=None, error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [0.1, 1, 10, 100, 1000], 'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 'kernel': ['rbf']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [0]:
grid.best_params_

{'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}

In [0]:
grid.best_estimator_

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
grid.fit(X_train,y_train)

Fitting 3 folds for each of 25 candidates, totalling 75 fits
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.6485507246376812, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.6363636363636364, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.6436363636363637, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV]  C=0.1, gamma=0.1, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ......... C=0.1, gamma=0.1, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ......... C=0.1, gamma=0.1, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV]  C=0.1, gamma=0.01, kernel=rbf, score=0.6413043478260869, total=   0.0s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s

[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ........ C=0.1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ........ C=0.1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV]  C=0.1, gamma=0.001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ....... C=0.1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ....... C=0.1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV]  C=0.1, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=0.1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=0.1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV]  C=1, gamma=1, kernel=rbf, score=0.7101449275362319, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ............. C=1, gamma=1, kernel=rbf, score=0.68, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV]  C=1, gamma=1, kernel=rbf, score=0.6763636363636364, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.6739130434782609, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV]  C=1, gamma=0.01, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] .......... C=1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] .......... C=1, gamma=0.01, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV]  C=1, gamma=0.001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ......... C=1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ......... C=1, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV]  C=1, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ........ C=1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ........ C=1, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.7101449275362319, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.6981818181818182, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.6509090909090909, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.6945454545454546, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV]  C=10, gamma=0.001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ........ C=10, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ........ C=10, gamma=0.001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV]  C=10, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ....... C=10, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ....... C=10, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.6884057971014492, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.6254545454545455, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.6436363636363637, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.7246376811594203, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.6909090909090909, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.6763636363636364, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.6884057971014492, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.6654545454545454, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.6836363636363636, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV]  C=100, gamma=0.0001, kernel=rbf, score=0.6413043478260869, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=100, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ...... C=100, gamma=0.0001, kernel=rbf, score=0.64, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.6847826086956522, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.6654545454545454, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.6254545454545455, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.7210144927536232, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................

[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.6909090909090909, total=   0.1s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.6618181818181819, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.677536231884058, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.6763636363636364, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.6909090909090909, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.7137681159420289, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.6727272727272727, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.6872727272727273, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.7065217391304348, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.6654545454545454, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.6872727272727273, total=   0.0s

[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed:    2.5s finished

GridSearchCV(cv=None, error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [0.1, 1, 10, 100, 1000], 'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 'kernel': ['rbf']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [0]:
grid_predict = grid.predict(X_test)

In [0]:
print(classification_report(y_test,grid_predict))
print(confusion_matrix(y_test,grid_predict))

             precision    recall  f1-score   support

          0       0.64      0.46      0.53       153
          1       0.72      0.85      0.78       254

avg / total       0.69      0.70      0.69       407

[[ 70  83]
 [ 39 215]]